web/node_modules
search-engine/__pycache__
search-engine/firebase-admin-key.json
search-engine/secret.json

# jupyter notebooks
dataproc/.ipynb_checkpoints
dataproc/Pit_Stop_Locations_Data_Exp.ipynb
dataproc/data-analytics/data_profile.ipynb