web/node_modules
__pycache__
firebase-admin-key.json
secret.json
.vscode/

# Ignore the following files for NLP task
.DS_STORE
Test.py
*.pkl
*.pickle
*.review
*.balanced
*.random
C-BOW
C-OneHot
C-TFIDF
SLS Preprocessed data
Sample Annotated Dataset
.pytest_cache/
