<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
    <head>
        <title>Social Insights</title>
        <h1 align="center">Social Insights</h1>
    </head>
    <body>
        <div id="searchbox" align="center">
         <form action="/search-query/" method="get">
            <label for="search_query">Search for: </label>
            <input type="text" id="search_query" name="search_query">
            <input type="submit" value="search">
        </form> 
   
    </div>
    </body>
</html>