.AutoComplete-list {
    font-size: 1rem;
    font-weight: 700;
    background-color: white;
    width: 35rem;
    height: 25rem;
    border-radius: 0rem 0rem .5rem .5rem;
    text-decoration: none;
    list-style: none;
    -webkit-border-radius: 0rem 0rem .5rem .5rem;
    -moz-border-radius: 0rem 0rem .5rem .5rem;
    -ms-border-radius: 0rem 0rem .5rem .5rem;
    -o-border-radius: 0rem 0rem .5rem .5rem;
}

.AutoComplete-list ul {
    display: block;
    float: left;
    padding: .5rem;
}

.AutoComplete-list-empty {
    display: none;
}